
<div class="below">
    <form class="contact-form" action="#">
    <h2 class="my-font">Contact Us</h2>
    <p>Get in touch with us by filling out the form below:</p>
    <div class="form-group my-font-2">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div class="form-group my-font-2">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group my-font-2">
      <label for="message">Message</label>
      <textarea id="message" name="message" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary my-font-2">Send Message <i class="bi bi-emoji-smile"></i></button>
  </form>
  </div>

  

<%-contentFor("footer") %>
<p>My Address is CUI</p>
